@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true; /* set as default */
  
  --color-primary: #22c55e;
  --color-accent: #166534;
  --color-secondary: #f0fdf4

}

@plugin "daisyui/theme" {
  name: "dark";
  default: false; /* set as default */
  
  --color-primary: #4ade80;
  --color-accent: #052e16;
  --color-secondary: #bbf7d0

}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

.edu-font {
  font-family: "Edu NSW ACT Cursive", cursive;
  /* font-optical-sizing: auto; */
}